image: python:3
test:
  script:
  # this configures Django application to use attached postgres database that is run on `postgres` host
    - - apt-get update -qy
    - cd backend/secfit
    - pip install -r requirements.txt
    - python manage.py test

staging:
  type: deploy
  image: ruby
  script:
    - apt-get update -qy
      - apt-get install -y ruby-dev
      - gem install dpl
      - dpl --provider=heroku --app=tdt4242-base --api-key=$HEROKU_AUTH_TOKEN
  only:
    - master
